# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AntOne.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\nonoa\Documents\ISEN\M1\S2\AR VR\FPS_VR\AntOne\.idea\.idea.AntOne\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
